*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color:white;
  color:black;
  font-family: sans-serif;
  
}
img{
margin:0 auto;
  width: 50px;
  border-radius: 10px;
display: flex;
margin-top: 50px;

}
.main{
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin-top: 20px;
}
.predictor{
  color: orange;
}
.tagline{
  text-align: center;
  margin-left: 10px;
margin: 30px 20px 12px 40px;
}
button{
  padding: 13px;
  border-radius: 12px;
  width: 70px;
  background-color: #1c1c1c;
  color:white;
  border: none;
  font-weight: 300;
  font-size: 16px;
  text-align: center;
}
.btnrow{
  display: flex;              /* arrange buttons in a row */
  justify-content: center;    /* center them horizontally */
  gap: 12px;                  /* optional spacing between buttons */
  margin-top: 30px;
}


.mon{
  display: inline-block;
  padding: 6px 14px;
  background-color: #1c1c1c;
  border-radius: 20px;
  font-size: 14px;
  border-color:orange;
}


.prediction-style{
 color: orange;

}
.menu-container {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 24px;
  padding: 20px;
  align-items: start;
  color: white;
}
.menus.show{
  display: block;
}
button.active-day{
  background-color: orange;
  color: white;
}
.menus {
  display: none;
  width: 100%; 
  background-color: #111;
  border-radius: 16px;
  padding: 20px;
  border: 1px solid orange;
}
@media (max-width: 1100px) {
  .menu-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .menu-container {
    grid-template-columns: 1fr;
  }
}